*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

html{
  overflow: hidden;
  height: 100%;
}

/********** HEADER **********/

header{
  display: flex;
  background-color: black;
  height: 10vh;
}

.hdestra{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.hdestra input, #bottone-ricerca{
  height: 50%;
  align-self: center;
  margin: 15px 5px;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}

#bottone-ricerca{
  background-color: red;
}

.hsinistra{
  width: 50%;
  height: 100%;
}


/*********** MAIN **********/

main{
  background-color: #333333;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/********* TEMPLATE ***********/

.film{
  display: flex;
  justify-content: flex-start;
  margin: 25px 0;
  color: white;
  background-color: black;
  position: relative;
}

.descrizione{
  position: absolute;
  top: 0;
  padding: 10px;
  display: none;
  height: 100%;
  width: 100%;
}

#cover:hover + .descrizione{
  display: block;
  background-color: black;
}

#cover{
  width: 500px;
  height: 750px;
}


span{
  font-weight: lighter;
}
