*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  overflow: hidden;
  height: 100%;
}

/********** HEADER **********/

header{
  display: flex;
  background-color: black;
  height: 10vh;
}

.hdestra{
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.hsinistra{
  width: 50%;
  height: 100%;
}

/*********** MAIN **********/

main{
  background-color: darkgrey;
  height: 90vh;
}
